**Predicting Sex from Various Crime Tags**

importing containers

In [110]:
import pandas as pd
import numpy as np
from Clean_Data import data_cleaner
from sklearn import preprocessing

In [111]:
#call columns and change names

data2020 = data_cleaner("Crime_Data_from_2020_to_Present.csv")

data2020.keepColumns(["Rpt Dist No", "Crm Cd", "DATE OCC", "Vict Age", "Vict Descent", "Vict Sex"]) #works
oldNames = ["Rpt Dist No", "Crm Cd", "DATE OCC", "Vict Age", "Vict Descent", "Vict Sex"]
newNames = ["District","Code", "Date", "Age", "Descent", "Sex"]
data2020.changeName(oldNames, newNames)

In [86]:
# drop victims with unknown sex
try:
    data2020.sexToNum()
except TypeError:
    #dont know what this should print cuz the typeerror will already say the error 
    print("There were victim's with unknown sex, will delete all rows of victim's with unknown sex.") 
    data2020.delRows()
    data2020.sexToNum()
finally:
    print("Finished changing victim's sex to numbers (F = 0; M = 1)")

Finished changing victim's sex to numbers (F = 0; M = 1)

In [195]:
checkData = pd.read_csv("Crime_Data_from_2020_to_Present.csv")

In [196]:
def keepColumns(data, columns):
        '''
        keep the given columns
        Args:
            columns: an array of strings.
        Return:
            None.
        '''
        return checkData[columns]

In [197]:
checkData = keepColumns(checkData, ["Rpt Dist No", "Crm Cd", "DATE OCC", "Vict Age", "Vict Descent", "Vict Sex"])

In [198]:
checkData.head()

   Rpt Dist No  Crm Cd                DATE OCC  Vict Age Vict Descent Vict Sex
0          377     624  01/08/2020 12:00:00 AM        36            B        F
1          163     624  01/01/2020 12:00:00 AM        25            H        M
2          155     845  02/13/2020 12:00:00 AM         0            X        X
3         1543     745  01/01/2020 12:00:00 AM        76            W        F
4         1998     740  01/01/2020 12:00:00 AM        31            X        X

# NOTE:

**keepColumns works.**

In [199]:
oldNames = ["Rpt Dist No", "Crm Cd", "DATE OCC", "Vict Age", "Vict Descent", "Vict Sex"]
newNames = ["District","Code", "Date", "Age", "Descent", "Sex"]

In [200]:
def changeName(data, oldName, newName):
        '''
        change the name of given columns
        Args:
            oldName: an array of strings.
            newName: an array of strings.
        Return:
            None.
        '''
        for i in range(len(oldName)):
            return data.rename(columns={oldName[i]: newName[i]})

In [201]:
checkData = changeName(checkData,oldNames, newNames)

In [202]:
checkData.head()

   District  Crm Cd                DATE OCC  Vict Age Vict Descent Vict Sex
0       377     624  01/08/2020 12:00:00 AM        36            B        F
1       163     624  01/01/2020 12:00:00 AM        25            H        M
2       155     845  02/13/2020 12:00:00 AM         0            X        X
3      1543     745  01/01/2020 12:00:00 AM        76            W        F
4      1998     740  01/01/2020 12:00:00 AM        31            X        X

# NOTE:

**changeName doesn't work.**

In [211]:
checkData = pd.read_csv("Crime_Data_from_2020_to_Present.csv")
checkData = keepColumns(checkData, ["Rpt Dist No", "Crm Cd", "DATE OCC", "Vict Age", "Vict Descent", "Vict Sex"])

In [212]:
def delRows(data):
    data = data[data["Vict Sex"] != "X"]
    return data

In [215]:
def sexToNum(data):
    if any(data["Vict Sex"] == "X"):
        raise TypeError("There are victim's with unknown sex in this dataset.")
    else:
        le = preprocessing.LabelEncoder()
        data['Vict Sex'] = le.fit_transform(data['Vict Sex'])
        #change male values that are greater than 0 to 1. 
        #data[data["Vict Sex"] > 0] = 1 this is wrong
        return data

In [217]:
checkData

,Rpt Dist No,Crm Cd,DATE OCC,Vict Age,Vict Descent,Vict Sex
0,377,624,01/08/2020 12:00:00 AM,36,B,F
1,163,624,01/01/2020 12:00:00 AM,25,H,M
3,1543,745,01/01/2020 12:00:00 AM,76,W,F
5,163,121,01/01/2020 12:00:00 AM,25,H,F
6,161,442,01/02/2020 12:00:00 AM,23,H,M
...,...,...,...,...,...,...
599745,1249,626,06/07/2022 12:00:00 AM,57,B,F
599746,334,354,08/02/2022 12:00:00 AM,34,H,F
599747,1024,510,02/09/2022 12:00:00 AM,0,NaN,NaN
599748,1171,510,02/08/2022 12:00:00 AM,0,NaN,NaN
599749,1613,331,02/14/2022 12:00:00 AM,61,H,F

In [216]:
checkData = delRows(checkData)

In [ ]:
try:
    sexToNum(checkData)
except TypeError:
    #dont know what this should print cuz the typeerror will already say the error 
    print("There were victim's with unknown sex, will delete all rows of victim's with unknown sex.") 
    checkData = delRows(checkData)
    checkData = sexToNum(checkData)
finally:
    print("Finished changing victim's sex to numbers (F = 0; M = 1)")

# Note

**sexToNum does convert all the females correctly into 0s. But it makes the males an int greater than 0 for some reason. We need to figure out why it's doing that and how to correct it.**


**when cleaning the data we also have NaN values that need cleaning, i've readded the delNa we need to add that in our procedure.**